
<!DOCTYPE html>
{% load staticfiles %}
{% load pages_template_tags %}
<html lang="en">
<head>
        {% block title_block %}
        <title> 
                Welcome
        </title>
        {% endblock %}
<meta http-equiv="content-type" content="text/html; charset=utf-8" >
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<link rel="stylesheet" href="{% static 'pages/style.css'  %}" type="text/css" charset="utf-8">



</head>
<body>
    <nav class="top-nav">
            <div class="top-nav-left-box">
                <!-- <li class="top-nav-li"> -->
                        <!-- <img class="top-nav-logo" src="{% static 'images/logo-black.png' %}" alt=""/> -->
                <!-- </li> -->
                <li class="top-nav-li"><a href="{% url 'index' %}">Home</a></li>
                <li class="top-nav-li"><a href="{% url 'about' %}">About</a></li>
                <li class="top-nav-li"><a href="{% url 'about' %}">Contact</a></li>
            </div>
            {% if user.is_authenticated %}
                Hello, {{ user.username }}
                    <li class="top-nav-li"><a href="{% url 'logout' %}">Logout</a></li>
                    <li class="top-nav-li"><a href="{% url 'restricted' %}">Restricted</a></li>
            {% else %}
                    <li class="top-nav-li"><a href="{% url 'login' %}">Login</a></li>
                    <li class="top-nav-li"><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
    </nav>
    {% block header_block  %}
        <header class="header">
                <div class="logo-box">
                        <img class="logo" src="{% static 'images/logo-white.png' %}" alt=""/>
                </div>
                <div class="text-box">
                        <h1 class="heading-primary">
                                <span class="heading-primary-main">Hare IT</span>
                                <span class="heading-primary-sub">Explore RHEL, Django/Python, and More</span>
                        </h1>
                                <a id="header-btn" class='btn btn-white' href="#">View Categories</a>
                </div>
        </header>
                {% endblock %}
        <div id="main">
                {% block body_block %}
                    This is the default content.
                {% endblock %}
        <hr>
        </div>
        <!-- <div id="sidebar"> -->
        <!--         {% block sidebar_block %} -->
        <!--                 {% get_category_list category %} -->
        <!--         {% endblock %} -->
        <!-- <hr> -->
        <!-- </div> -->
        <div id='footer'>
                <div class="footer-logo-box">
                        <img class="footer-logo" src="{% static 'images/logo-black.png' %}" alt=""> 
                </div>
                <div class="footer-nav">
                        <h2>Navigation</h2>
                        <ul class="ul footer-ul">
                                {% if user.is_authenticated %}
                                <li class="li footer-li"><a href="{% url 'add_category' %}">Add New Category</a></li>
                                {% endif %}
                                <li class="li footer-li"><a href="{% url 'index' %}">Index</a></li>
                                <li class="li footer-li"><a href="{% url 'about' %}">About</a></li>
                                <li class="li footer-li"><a href="{% url 'about' %}">Links</a></li>
                        </ul>
                </div>
                <div class="footer-other">
                        <h2>Company</h2>
                        <ul class="ul footer-ul">
                                <li class="li footer-li"><a href="{% url 'about' %}">Twitter</a></li>
                                <li class="li footer-li"><a href="{% url 'about' %}">Facebook</a></li>
                                <li class="li footer-li"><a href="{% url 'about' %}">LinkedIn</a></li>
                        </ul>
                </div>
                <div class="footer-contact">
                        <h2>Contact</h2>
                        <ul class="ul footer-ul">
                                <li class="li footer-li"><a href="{% url 'index' %}">Phone: (954) 918-2891</a></li>
                                <li class="li footer-li"><a href="{% url 'about' %}">Email: support@hareit.com</a></li>
                        </ul>
                </div>
        </div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
<script src="{% static 'pages/animation.js' %}"></script>

</body>
<footer>&copy; 2018 James O'Hare.</footer>
