{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <!-- {{category.name}} -->
{% endblock %}

{% block header_block  %}
{% endblock  %}
{% block body_block %}
        <div class="cat-div">
        {% if category %}
                <h1 class='cat-name'>{{ category.name }}</h1>
                {% if posts %}
                      <ul class="posts">
                        {% for post in posts %}
                                <li class='post'>
                                        <a id="post-title" href="{{ post.slug }}">{{ post.title }}</a>
                                    <a href="{{ post.slug }}">
                                    <p>Published: {{ post.created_date }}</p>
                                    <br>
                                    <img class="post-img" src="{{ MEDIA_URL }}{{ post.post_image }}" alt="Post image"/>
                                    <hr>
                                    {% if post.summary %}
                                    <p>{{ post.summary }}</p></a>
                                    {% endif  %}
                                </li>
                        {% endfor %}
                      </ul>
                {% else %}
                        <strong>No posts for this category. </strong>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'add_post' category.slug %}">Add a post</a>
                {% else %}
                    <p>Sign in to add a category</p>
                {% endif %}
        {% endif %}
        </div>
{% endblock %}
