
{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{category.name}}
{% endblock %}

{% block body_block %}
        <!-- <p>Visits: {{ visits }}</p> -->
        <div id="main-categories" class="main-container">
            <div>
            <div class="main-header">
                <h3>Top Categories</h3>
            </div>
            <hr>
                {% if categories %}
                    <ul class="ul-cat">
                {% for category in categories %}
                  <div class="flip-card">
                  <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <li class="li-cat">
                            <a href="{% url 'show_category' category.slug %}">
                                    <img class="flip-card-bg" src="" alt=""/>
                                {{ category.name|upper }}
                            </li>
                          </div>
                          <div class="flip-card-back" style="background-image: url('{{ MEDIA_URL }}/{{category.slug|lower}}.jpg');">
                                    </a>
                          </div>
                  </div>
                  </div>
                {% endfor %}
                    </ul>
                {% endif %}

            </div>
            <div>
            <div class="main-header">
                <h3>Most Recent Posts</h3>
            </div>
            <hr>
                {% if posts %}
                <ul class="ul-cat">
                {% for post in posts %}
                <li class="li-cat">
                        <a href="{{ post.url }}">
                                <h3>{{ post.title }}</h3>
                                <h6>Category: {{ post.category }} | Published on {{ post.created_date }}</h6>
                        </a>
                </li>
                {% endfor %}
                </ul>
                {% else %}
                <strong>There are no posts present.</strong>
                {% endif %}
            </div>
        </div>

        <!-- Index Only Main-Bottom -->
        <div class="main-bottom">
                <div class="main-bottom-image-box">
                        <img class="main-bottom-image" src="{% static 'images/python.jpg'  %}" alt=""> 
                </div>
                <div class="main-bottom-text">
                        <div class="main-bottom-text-header">
                                <h1>A Little Bit About Us</h1>
                        </div>
                        <div class="main-bottom-text-content">
                                <p>Welcome to the site. Feel free to search around and contact me</p>
                                <p>Welcome to the site. Feel free to search around and contact me</p>
                                <p>Welcome to the site. Feel free to search around and contact me</p>
                                <p>Welcome to the site. Feel free to search around and contact me</p>
                        </div>
                </div>
                
        </div>
{% endblock %}
