{% extends 'pages/base.html' %}
{% load staticfiles %}


{% block title_block %}
    {{category.name}}
{% endblock %}

{% block body_block %}
        <!-- <p>Visits: {{ visits }}</p> -->
        <div class="main-mid-container">
        <div class="main-mid">
            <div class="main-items main-cats-container">
                    <div class="main-header">
                        <h3>Top Categories</h3>
                    </div>
                    <div class="main-cats">
                    {% if categories %}
                    <ul class="ul-cat">
                    {% for category in categories %}
                    <div class="cat">
                          <div class="flip-card">
                                  <div class="flip-card-inner">
                                          <a href="{% url 'show_category' category.slug %}">
                                          <div class="flip-card-front">
                                                  <li class="li-cat">
                                                            <img class="flip-card-bg" src="" alt=""/>
                                                        {{ category.name|upper }}
                                                  </li>
                                          </div>
                                          <div class="flip-card-back" style="background-image: url('{{ MEDIA_URL }}/{{category.slug|lower}}.jpg');">
                                          </div>
                                  </div>
                          </div>
                          </a>
                    </div>
                     {% endfor %}
                    </ul>
                     {% endif %}
                    </div>
            </div>
            </div>
            <!-- main-posts -->
            <div class="main-items main-posts-container">
                    <div class="main-header">
                        <h3>Recent Posts</h3>
                    </div>
                    <div class="main-posts">
                            
                        {% if posts %}
                        <ul class="ul-cat">
                        {% for post in posts %}
<!-- 000 -->

                          <a href="category/{{ post.category.slug }}/{{ post.slug }}">
                          <div class="flip-card">
                                  <div class="flip-card-inner">
                                          <div class="flip-card-front">
                                                  <li class="li-cat">
                                                          <img class="flip-card-bg" src="" alt=""/>
                                                            <h2>{{ post.title }}</h2>
                                                  </li>
                                          </div>
                                          <div class="flip-card-back" style="background-image: url('{{ MEDIA_URL }}{{post.post_image}}');">
                                          <p class="post-meta">Category: {{ post.category }} | Published on {{ post.created_date }}</p>
                                          </div>
                                  </div>
                          </div>
                          </a>
<!-- 000 -->

                        {% endfor %}
                        </ul>
                        {% else %}
                        <strong>There are no posts present.</strong>
                        {% endif %}
            <!-- end main-posts -->
                  </div>
            </div>
        </div>

        <!-- Index Only Main-Bottom -->
        <div class="main-bottom">
                <div class="main-bottom-image-box">
                        <img class="main-bottom-image" src="{% static 'images/upward-stocks.jpg'  %}" alt=""> 
                </div>
                <div class="main-bottom-text">
                        <div class="main-bottom-text-header">
                                <h1>FROM 0 TO 1</h1>
                        </div>
                        <div class="main-bottom-text-content">
                                <p>While it may take some time for some of us to choose a path, we aim to expedite the process by covering a wide variety of IT topics. From web development focusing on Django, Python, JavaScript, HTML5, CSS3, and jQuery, to system administration covering RHCSA and RHCE concepts, to high-level cyber security concepts, including summaries of NIST documents, we've got you covered.</p>
                        </div>
                </div>
                
        </div>
{% endblock %}
