{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block title_block %}
        Login
{% endblock %}

{% block body_block %}
        <h1>Login to your account</h1>
        <form id='login_form' method="post" action="{% url 'login' %}"accept-charset="utf-8">
                {% csrf_token %}
                Username: <input type="text" value="" name="username" size="50"id="username"/>
                </br>
                Password: <input type="password" value="" name="password" size="50"id="password"/>
                <input type="submit" value="submit" name="" id=""/>
                </br>
        </form>
{% endblock %}
