{% extends 'pages/base.html' %}
{% load staticfiles %}
{% load pages_template_tags %}

{% block title_block %}
    <!-- {{category.name}} -->
{% endblock %}

{% block header_block  %}
{% endblock  %}
{% block body_block %}
        <div class="post-content-container">
                <h1 style="background-size: 80%; background-image: url('{{ MEDIA_URL }}/{{post.post_image}}');" class='cat-name'>{{ post.title }}</h1>
        {% if post %}
        <div class="post-content">
                
                <h4 class="post-text">{{ post.text }}</h4>
        {% if post.markdown  %}
                <p class="post-markdown">{{ post.markdown|show_markdown|safe }}</p>
        {% endif  %}
        {% else %}
                    <p>Post goes here</p>
        {% endif %}
        </div>
        </div>
{% endblock %}
{% block footer_block  %}
{% endblock  %}
