{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Register
{% endblock %}

{% block body_block %}
        <h1>About Page</h1>
        {% if registered %}
        From all of us here, <strong>thanks for registering!</strong>
        {% else %}
        From all of us here, <strong>Register here!</strong>
        <form id="user_form" action="{% url 'register'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <input type="submit" value="Register" name="submit" id="submit"/>
        </form>
        {% endif %}
        {% endblock %}
